header
    div.top
        h1.title
            a(href="/") #{_config.blogName}
        a.search#search(href='javascript:alert(\'준비중\')')
            span.sr-only Search
    section.profile
        img(src=`https://www.gravatar.com/avatar/${_config.links.gravatar}?s=150` alt="Profile Image")
        h2 #{_config.name}
        p #{_config.description}
        ul.links
            li
                a.github-link(target='_blank' href=`https://github.com/${_config.links.github}` rel="noopener")
                    span.sr-only GitHub
            li
                a.linkedin-link(target='_blank' href=`https://linkedin.com/in/${_config.links.linkedin}` rel="noopener")
                    span.sr-only LinkedIn
            li
                a.twitter-link(target='_blank' href=`https://twitter.com/${_config.links.twitter}` rel="noopener")
                    span.sr-only Twitter
            li
                a.mail-link(target='_blank' href=`mailto:${_config.links.mail}` rel="noopener")
                    span.sr-only Mail
    nav
        ul.menu
            li
                a(href='javascript:alert(\'준비중\')') Portfolio
            li
                a(href='javascript:alert(\'준비중\')') Dev
            li
                a(href='https://znagadeon-wiki.netlify.com') Wiki
