doctype html
html(lang="ko")
    head
        include _analytics.pug
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{_config.blogName}
    body
        include _header.pug
        main
            section.recent-posts
                h2 Recent Posts
                ol.posts
                    each post in _options.recentPosts
                        li.post
                            a(href=post.url)
                                h3 #{post.title}
                                dl.meta
                                    dt.sr-only category
                                    dd.category /#{post.category}
                                    dt.sr-only tags
                                    dd
                                        ul.tags
                                            each tag in post.tags
                                                li.tag ##{tag}
                                    dt.sr-only published
                                    dd.published
                                        time #{post.published}
        include _footer.pug
