doctype html
html(lang="ko")
    head
        include _head.pug
    body
        include _header.pug
        main
            article.recent-posts
                h2 Recent Posts
                ol.posts
                    each post in _options.recentPosts
                        li.post
                            a(href=post.url)
                                h3 #{post.title}
                                dl.meta
                                    dt.sr-only category
                                    dd.category /#{post.category}
                                    dt.sr-only tags
                                    dd
                                        ul.tags
                                            each tag in post.tags
                                                li.tag ##{tag}
                                    dt.sr-only published
                                    dd.published
                                        time #{post.published}
        include _footer.pug
