doctype html
html(lang="ko")
    head
        include _head.pug
        title #{title} - #{_config.blogName}
        meta(property="og:type", content="article")
        meta(property="og:url", content=url)
        meta(property="og:title", content=title)
        meta(property="og:description", content=description)
        meta(property="og:image", content=`https://www.gravatar.com/avatar/${_config.links.gravatar}`)
        meta(name="twitter:card", content="summary")
        meta(name="twitter:site", content=`@${_config.links.twitter}`)
        meta(name="twitter:title", content=title)
        meta(name="twitter:description", content=description)
        meta(name="twitter:image", content=`https://www.gravatar.com/avatar/${_config.links.gravatar}`)
    body
        include _header.pug
        main
            div.category
                span.sr-only category
                span /#{category}
            h1.title #{title}
            div.published
                span.sr-only published
                time #{published}
            article !{_body}
            div
                span.sr-only tags
                ul.tags
                    each tag in tags
                        li.tag ##{tag}
        #disqus_thread.comments
        script.
            var disqus_config = function () {
                this.page.url = '#{_config.host}' + location.pathname;
                this.page.identifier = location.pathname;
            };
            (function() {
                var d = document, s = d.createElement('script');
                s.src = 'https://znagadeon.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        noscript Please enable JavaScript to view the
            a(href="https://disqus.com/?ref_noscript") comments powered by Disqus.
        include _footer.pug
