doctype html
html(lang="ko")
    head
        include _analytics.pug
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= `${title} - ${_config.blogName}`
    body
        include _header.pug
        main
            div
                span category
                span #{category}
            h1 #{title}
            div
                span published
                time #{published}
            article !{_body}
            div
                span tags
                ul
                    each tag in tags
                        li #{tag}
        include _footer.pug
