doctype html
html(lang="ko")
    head
        include _head.pug
    body
        include _header.pug
        main
            div
                span.sr-only category
                span /#{category}
            h1 #{title}
            div
                span.sr-only published
                time #{published}
            article !{_body}
            div
                span.sr-only tags
                ul.tags
                    each tag in tags
                        li.tag ##{tag}
        include _footer.pug
